<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01" target="_blank">Spacex DataSet</a>

### Store the dataset in database table

**it is highly recommended to manually load the table using the database console LOAD tool in DB2**.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload.png">

Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the  dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new table as follows:

**SPACEXDATASET**

**Follow these steps while using old DB2 UI which is having Open Console Screen**

**Note:While loading Spacex dataset, ensure that detect datatypes is disabled. Later click on the pencil icon(edit option).**

1.  Change the Date Format by manually typing DD-MM-YYYY and timestamp format as DD-MM-YYYY HH\:MM:SS

2.  Change the PAYLOAD_MASS\_\_KG\_  datatype  to INTEGER.

<img src = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload2.png">

**Changes to be considered when having DB2 instance with the new UI having Go to UI screen**

*   Refer to this insruction in this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sign%20up%20for%20IBM%20Cloud%20-%20Create%20Db2%20service%20instance%20-%20Get%20started%20with%20the%20Db2%20console/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">link</a> for viewing  the new  Go to UI screen.

*   Later click on **Data link(below SQL)**  in the Go to UI screen  and click on **Load Data** tab.

*   Later browse for the downloaded spacex file.

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/browsefile.png" width="800"/>

*   Once done select the schema andload the file.

 <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/images/spacexload3.png" width="800"/>

In [1]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3 --user
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24 --user
!pip install ipython-sql --user

Processing c:\users\addar\appdata\local\pip\cache\wheels\43\71\0a\3065745bc1dc4cafbdcb09e2557082609f7689b16108b670df\ibm_db-3.1.0-py3-none-any.whl

ERROR: tensorflow 2.5.0 has requirement typing-extensions~=3.7.4, but you'll have typing-extensions 4.5.0 which is incompatible.
ERROR: playwright 1.30.0 has requirement greenlet==2.0.1, but you'll have greenlet 2.0.2 which is incompatible.
ERROR: Could not install packages due to an EnvironmentError: [WinError 5] Access is denied: 'c:\\users\\addar\\appdata\\roaming\\python\\python38\\site-packages\\clidriver\\bin\\amd64.VC12.CRT\\msvcr120.dll'
Check the permissions.

Processing c:\users\addar\appdata\local\pip\cache\wheels\ca\a9\b6\4f6402aa714d6e9903b79a15fbc3b2f02bf72da989b7708c18\ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-2.0.4-cp38-cp38-win_amd64.whl (2.0 MB)
Collecting typing-extensions>=4.2.0
  Using cached typing_extensions-4.5.0-py3-none-any.whl (27 kB)
Collecting greenlet!=0.4.17; platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32")))))
  Using cached greenlet-2.0.2-cp38-cp38-win_amd64.whl (192 kB)
Installing collected packages: ibm-db, typing-extensions, greenlet, sqlalchemy, ibm-db-sa
  Attempting uninstall: ibm-db
    Found existing installation: ibm-db 3.1.4
    Uninstalling ibm-db-3.1.4:
Found existing installation: SQLAlchemy 1.3.18
Uninstalling SQLAlchemy-1.3.18:

ERROR: Exception:
Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 788, in move
    os.rename(src, real_dst)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\sqlalchemy-1.3.18.dist-info\\' -> 'C:\\ProgramData\\Anaconda3\\Lib\\site-packages\\~-lalchemy-1.3.18.dist-info'

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\cli\base_command.py", line 188, in _main
    status = self.run(options, args)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\commands\uninstall.py", line 85, in run
    uninstall_pathset = req.uninstall(
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\req\req_install.py", line 676, in uninstall
    uninstalled_pathset.remove(auto_confirm, verbose)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\req\req_uninstall.py", line 394, in remove
    moved.stash(path)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\req\req_uninstall.py", line 283, in stash
    renames(path, new_path)
  File "C:\ProgramData\Anaconda3\lib\site-packages\pip\_internal\utils\misc.py", line 349, in renames
    shutil.move(old, new)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 800, in move
    rmtree(src)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 737, in rmtree
    return _rmtree_unsafe(path, onerror)
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 615, in _rmtree_unsafe
    onerror(os.unlink, fullname, sys.exc_info())
  File "C:\ProgramData\Anaconda3\lib\shutil.py", line 613, in _rmtree_unsafe
    os.unlink(fullname)
PermissionError: [WinError 5] Access is denied: 'c:\\programdata\\anaconda3\\lib\\site-packages\\sqlalchemy-1.3.18.dist-info\\direct_url.json'

Requirement already satisfied: ipython-sql in c:\users\addar\appdata\roaming\python\python38\site-packages (0.4.1)
Requirement already satisfied: sqlparse in c:\users\addar\appdata\roaming\python\python38\site-packages (from ipython-sql) (0.4.3)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.15.0)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.16.1)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.3.18)
Requirement already satisfied: prettytable<1 in c:\users\addar\appdata\roaming\python\python38\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.10 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.1)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.5)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.6.1)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (49.2.0.post20200714)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (4.3.3)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: colorama; sys_platform == "win32" in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.3)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.10->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [ ]:
# Enter the connection string for your Db2 on Cloud database instance below

%sql ibm_db_sa://xrx42232:6fCtaWVCiC3Bt0kz@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB?security=SSL

In [10]:
# Required data uploaded on ibm DB2

%sql select * from syscat.tables where owner = 'XRX42232'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('XRX42232', 'PETSALE', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 8, 12, 22, 18778), datetime.datetime(2023, 2, 21, 8, 20, 4, 814716), datetime.datetime(2023, 2, 21, 8, 20, 4, 814726), datetime.datetime(2023, 2, 21, 17, 9, 35, 912639), 5, 4, 2095, 5, 1, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 54, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 8, 12, 22, 18778), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'EMPLOYEES', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 9, 56, 13, 307783), datetime.datetime(2023, 2, 21, 9, 56, 13, 421044), datetime.datetime(2023, 2, 21, 9, 56, 13, 421050), datetime.datetime(2023, 2, 21, 10, 5, 59, 440127), 11, 5, 2095, 0, 0, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 0, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 9, 56, 13, 307783), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'JOB_HISTORY', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 9, 56, 13, 432933), datetime.datetime(2023, 2, 21, 9, 56, 13, 572921), datetime.datetime(2023, 2, 21, 9, 56, 13, 572926), datetime.datetime(2023, 2, 21, 10, 54, 20, 289533), 4, 6, 2095, 0, 0, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 0, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 9, 56, 13, 432933), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'JOBS', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 9, 56, 13, 585156), datetime.datetime(2023, 2, 21, 9, 56, 13, 741029), datetime.datetime(2023, 2, 21, 9, 56, 13, 741035), datetime.datetime(2023, 2, 21, 10, 54, 21, 81610), 4, 7, 2095, 10, 1, 0, 2, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 53, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 9, 56, 13, 585156), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'DEPARTMENTS', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 9, 56, 13, 751479), datetime.datetime(2023, 2, 21, 9, 56, 13, 878896), datetime.datetime(2023, 2, 21, 9, 56, 13, 878902), datetime.datetime(2023, 2, 21, 10, 54, 21, 269404), 4, 8, 2095, 3, 1, 0, 2, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 9, 56, 13, 751479), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'LOCATIONS', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 9, 56, 13, 888784), datetime.datetime(2023, 2, 21, 9, 56, 14, 59800), datetime.datetime(2023, 2, 21, 9, 56, 14, 59805), datetime.datetime(2023, 2, 21, 10, 54, 20, 444846), 2, 9, 2095, 0, 0, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 2, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 0, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 9, 56, 13, 888784), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'PETRESCUE', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 11, 57, 29, 725855), datetime.datetime(2023, 2, 21, 11, 57, 29, 857686), datetime.datetime(2023, 2, 21, 11, 57, 29, 857691), datetime.datetime(2023, 2, 21, 12, 0, 6, 942823), 5, 10, 2095, 9, 1, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 38, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 11, 57, 29, 725855), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'INSTRUCTOR', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 13, 47, 46, 332117), datetime.datetime(2023, 2, 21, 13, 47, 46, 462685), datetime.datetime(2023, 2, 21, 13, 47, 46, 462691), datetime.datetime(2023, 2, 21, 15, 4, 36, 216438), 5, 11, 2095, 3, 1, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 1, 1, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 13, 47, 46, 332117), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'INTERNATIONAL_STUDENT_TEST_SCORES', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 14, 11, 12, 972893), datetime.datetime(2023, 2, 21, 14, 11, 12, 972893), datetime.datetime(2023, 2, 21, 14, 11, 12, 972893), datetime.datetime(2023, 2, 21, 14, 12, 14, 749825), 4, 12, 2095, 99, 1, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 49, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 14, 11, 12, 972893), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'SPACEX', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 14, 17, 27, 331082), datetime.datetime(2023, 2, 21, 14, 17, 27, 331082), datetime.datetime(2023, 2, 21, 14, 17, 27, 331082), datetime.datetime(2023, 2, 21, 15, 4, 21, 393119), 10, 13, 2095, 101, 1, 0, 2, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 140, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 14, 17, 27, 331082), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'CHICAGO_SOCIOECONOMIC_DATA', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 14, 25, 20, 325700), datetime.datetime(2023, 2, 21, 14, 25, 20, 325700), datetime.datetime(2023, 2, 21, 14, 25, 20, 710684), datetime.datetime(2023, 2, 21, 14, 26, 32, 285846), 10, 14, 2095, 78, 1, 0, 1, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 111, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 14, 25, 20, 325700), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'CENSUS_DATA', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 15, 43, 43, 718818), datetime.datetime(2023, 2, 21, 15, 43, 43, 718818), datetime.datetime(2023, 2, 21, 15, 43, 43, 718818), datetime.datetime(2023, 2, 21, 16, 18, 2, 407379), 9, 15, 2095, 78, 1, 0, 2, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 57, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 15, 43, 43, 718818), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'CHICAGO_CRIME_DATA', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 15, 50, 1, 213402), datetime.datetime(2023, 2, 21, 15, 50, 1, 213402), datetime.datetime(2023, 2, 21, 15, 50, 1, 213402), datetime.datetime(2023, 2, 21, 15, 54, 12, 498889), 21, 16, 2095, 533, 4, 0, 5, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 223, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 15, 50, 1, 213402), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'CHICAGO_PUBLIC_SCHOOLS', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 15, 52, 47, 9354), datetime.datetime(2023, 2, 21, 17, 9, 38, 436388), datetime.datetime(2023, 2, 21, 17, 9, 38, 436395), datetime.datetime(2023, 2, 21, 17, 9, 43, 822731), 78, 17, 2095, 566, 15, 0, 16, -1, -1, -1, 0, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 849, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2023, 2, 21, 15, 52, 47, 9354), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(2023, 2, 21), ' ', 'N', 'R', 'N', -1.0, None),
 ('XRX42232', 'SPACEX_DATA', 'XRX42232', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2023, 2, 21, 18, 8, 11, 528533), datetime.datetime(2023, 2, 21, 18, 8, 11, 528533), datetime.datetime(2023, 2, 21, 18, 8, 11, 528533), None, 10, 18, 2095, -1, -1, -1, -1, -1, -1, -1, -1, 'XRX42232SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, -1, 'N', 999, -1, -1.0, -1, -1.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', -1, datetime.datetime(2023, 2, 21, 18, 8, 11, 528533), 0, ' ', None, None, 'N', 'XRX42232', ' ', ' ', ' ', datetime.date(1, 1, 1), ' ', 'N', 'R', 'N', -1.0, None)]

In [12]:
# Printing column names of the table for reference

%sql SELECT COLNAME,TYPENAME FROM SYSCAT.COLUMNS WHERE TABNAME = 'SPACEX_DATA'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('MISSION_OUTCOME', 'VARCHAR'),
 ('LANDING__OUTCOME', 'VARCHAR'),
 ('DATE', 'DATE'),
 ('TIME__UTC_', 'TIME'),
 ('BOOSTER_VERSION', 'VARCHAR'),
 ('LAUNCH_SITE', 'VARCHAR'),
 ('PAYLOAD', 'VARCHAR'),
 ('PAYLOAD_MASS__KG_', 'INTEGER'),
 ('ORBIT', 'VARCHAR'),
 ('CUSTOMER', 'VARCHAR')]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [14]:
%sql SELECT DISTINCT LAUNCH_SITE FROM SPACEX_DATA

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [17]:
%sql SELECT * FROM SPACEX_DATA WHERE LAUNCH_SITE LIKE 'CCA%' LIMIT 5

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [19]:
%sql SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL_PAYLOAD_MASS FROM SPACEX_DATA WHERE CUSTOMER = 'NASA (CRS)'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(45596,)]

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [24]:
%sql SELECT AVG(PAYLOAD_MASS__KG_) AS AVG_PAYLOAD_MASS FROM SPACEX_DATA WHERE BOOSTER_VERSION = 'F9 v1.1'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(2928.4,)]

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [29]:
%sql SELECT MIN(DATE) AS FIRST_SUCCESSFUL_LAUNCH FROM SPACEX_DATA WHERE LANDING__OUTCOME = 'Success (ground pad)'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[(datetime.date(2015, 12, 22),)]

In [27]:
%sql SELECT DISTINCT LANDING__OUTCOME FROM SPACEX_DATA

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [30]:
%%sql 

SELECT DISTINCT BOOSTER_VERSION FROM SPACEX_DATA WHERE LANDING__OUTCOME = 'Success (drone ship)' 
AND PAYLOAD_MASS__KG_>4000 AND PAYLOAD_MASS__KG_<6000

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('F9 FT  B1021.2',), ('F9 FT  B1031.2',), ('F9 FT B1022',), ('F9 FT B1026',)]

### Task 7

##### List the total number of successful and failure mission outcomes

In [31]:
%sql SELECT MISSION_OUTCOME,COUNT(*) AS FREQUENCY FROM SPACEX_DATA GROUP BY MISSION_OUTCOME

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Failure (in flight)', 1),
 ('Success', 99),
 ('Success (payload status unclear)', 1)]

In [48]:
%sql SELECT MISSION_OUTCOME,COUNT(*) AS SUCCESSFUL_MISSION_CNT FROM SPACEX_DATA WHERE MISSION_OUTCOME LIKE 'Success%'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0119N  An expression starting with "MISSION_OUTCOME" specified in a SELECT clause, HAVING clause, or ORDER BY clause is not specified in the GROUP BY clause or it is in a SELECT clause, HAVING clause, or ORDER BY clause with a column function and no GROUP BY clause is specified.  SQLSTATE=42803  SQLCODE=-119
[SQL: SELECT MISSION_OUTCOME,COUNT(*) AS SUCCESSFUL_MISSION_CNT FROM SPACEX_DATA WHERE MISSION_OUTCOME LIKE 'Success%']
(Background on this error at: http://sqlalche.me/e/13/f405)

In [ ]:
%sql SELECT MISSION_OUTCOME,COUNT(*) AS FAILED_MISSION_CNT FROM SPACEX_DATA WHERE MISSION_OUTCOME LIKE 'Failure%'

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [34]:
%sql SELECT DISTINCT BOOSTER_VERSION FROM SPACEX_DATA WHERE PAYLOAD_MASS__KG_ = (SELECT MAX(PAYLOAD_MASS__KG_) FROM SPACEX_DATA)

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1049.7',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1060.3',)]

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [35]:
%%sql 
SELECT TO_CHAR(TO_DATE(MONTH("DATE"), 'MM'), 'MONTH') AS MONTH_NAME,
LANDING__OUTCOME AS LANDING__OUTCOME,BOOSTER_VERSION,
LAUNCH_SITE FROM SPACEX_DATA WHERE LANDING__OUTCOME = 'Failure (drone ship)' AND "DATE" LIKE '%2015%'

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('JANUARY', 'Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('APRIL', 'Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [47]:
%%sql 

SELECT LANDING__OUTCOME,COUNT(*) AS SUCCESSFUL_LANDINGS FROM SPACEX_DATA 
WHERE (DATE BETWEEN '2010-06-04' AND '2017-03-20')
GROUP BY LANDING__OUTCOME 
ORDER BY SUCCESSFUL_LANDINGS DESC

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]

In [45]:
%sql SELECT  DAYNAME(DATE) FROM SPACEX_DATA where DAYNAME(DATE)='Friday' LIMIT 5

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Friday',), ('Friday',), ('Friday',), ('Friday',), ('Friday',)]

In [36]:
%sql SELECT DISTINCT LANDING__OUTCOME FROM SPACEX_DATA

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[('Controlled (ocean)',),
 ('Failure',),
 ('Failure (drone ship)',),
 ('Failure (parachute)',),
 ('No attempt',),
 ('Precluded (drone ship)',),
 ('Success',),
 ('Success (drone ship)',),
 ('Success (ground pad)',),
 ('Uncontrolled (ocean)',)]

In [23]:
#%sql ALTER TABLE SPACEX_DATA ALTER COLUMN PAYLOAD_MASS__KG_ SET DATA TYPE INTEGER

 * ibm_db_sa://xrx42232:***@824dfd4d-99de-440d-9991-629c01b3832d.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:30119/BLUDB
Done.

[]

### Reference Links

*   <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*   <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01&origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*   <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2022-01-01">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>